[submodule "node_modules/ejs"]
	path = node_modules/ejs
	url = git://github.com/visionmedia/ejs.git
[submodule "node_modules/json"]
	path = node_modules/json
	url = https://github.com/douglascrockford/JSON-js.git
[submodule "node_modules/uglify-js"]
	path = node_modules/uglify-js
	url = https://github.com/mishoo/UglifyJS.git
[submodule "node_modules/node-mime"]
	path = node_modules/node-mime
	url = https://github.com/bentomas/node-mime.git
[submodule "node_modules/glob"]
	path = node_modules/glob
	url = https://github.com/isaacs/node-glob.git
[submodule "node_modules/node-uuid"]
	path = node_modules/node-uuid
	url = git://github.com/broofa/node-uuid.git
[submodule "node_modules/buster-core"]
	path = node_modules/buster-core
	url = git://gitorious.org/buster/buster-core.git
[submodule "node_modules/buster"]
	path = node_modules/buster
	url = git://gitorious.org/buster/buster.git
[submodule "node_modules/buster-multicast"]
	path = node_modules/buster-multicast
	url = git://gitorious.org/buster/buster-multicast.git
[submodule "node_modules/buster-promise"]
	path = node_modules/buster-promise
	url = git://gitorious.org/buster/buster-promise.git
